# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Nix files
[*.nix]
indent_style = space
indent_size = 2
max_line_length = 100

# Lock files
[*.lock]
insert_final_newline = false
trim_trailing_whitespace = false

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2
